[Unit]
Description=Attendance service
after=network.target
 
[Service]
ExecStart=/usr/bin/python3 /home/pi/Attendance.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardOutput=inherit
Restart=always
User=root
 
[Install]
WantedBy=multi-user.target
